<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title><?= locals.title ?></title>
</head>
<body>
    <nav>
        <form method='GET' action='/'>
            <button type='submit'>Home</button>
        </form>
<? if(!locals.name){ ?>
        <form method='GET' action='/sign_in'>
            <button type='submit'>Sign In</button>
        </form>
        <form method='GET' action='/sign_up'>
            <button type='submit'>Sign Up</button>
        </form>
<? } else { ?>
        <form method='GET' action='/post'>
            <button type='submit'>Post</button>
        </form>
        <form method='GET' action='/user/<?= name ?>'>
            <button type='submit'><?= name ?></button>
        </form>
        <form method='GET' action='/sign_out'>
            <button type='submit'>Sign Out</button>
        </form>
<? } ?>
    </nav>