</main>
<footer>
    <span class='left'>
            <form method='GET' action='/contact'>
                <button type='submit'>Contact</button>
            </form>
            <form method='GET' action='/about'>
                <button type='submit'>About</button>
            </form>
    </span>
    <span class='right'>
        <form method='GET' action='/terms_and_conditions'>
            <button type='submit'>Terms and Conditions</button>
        </form>
        <form method='GET' action='/privacy_policy'>
            <button type='submit'>Privacy Policy</button>
        </form>
    </span>
</footer>
<br>
<br>
</body>
</html>