</main>
<footer>
    <span>
        <a
            style='text-decoration: none; border: none'
            href='/?new=true&page=1'>Newest Posts</a>
        <form method='GET' action='/contact'>
            <button type='submit'>Contact</button>
        </form>
        <form method='GET' action='/about'>
            <button type='submit'>About</button>
        </form>
    </span>
    <span>
        <form method='GET' action='/terms'>
            <button type='submit'>Terms and Conditions</button>
        </form>
        <form method='GET' action='/privacy'>
            <button type='submit'>Privacy Policy</button>
        </form>
    </span>
</footer>
<br>
<br>
</body>
</html>