<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel='stylesheet' href='/main.css'>
    <title><?= locals.title ?></title>
</head>
<body>
    <nav>
        <a
            style='text-decoration: none; border: none'
            href='/'>
            <img src='/fish_smaller_t.png'>
        </a>
<? if(!locals.name){ ?>
    <span class='right'>
        <form method='GET' action='/sign_in'>
            <button type='submit'>🚪Sign In</button>
        </form>
        <form method='GET' action='/sign_up'>
            <button type='submit'>🤝Sign Up</button>
        </form>
    </span>
<? } else { ?>
        <form method='GET' action='/post'>
            <button type='submit'>Post✍️</button>
        </form>
    <span class='right'>
        <form method='GET' action='/user/<?= name ?>'>
            <button type='submit'><?= name ?></button>
        </form>
        <form method='GET' action='/sign_out'>
            <button
                class='warn'
                title='🚪'
                type='submit'>Sign Out</button>
        </form>
    </span>
<? } ?>
    </nav>
    <main>