form
{
    margin: 1%;
    padding: 1%;
    line-height: 1em;
}

body, body *
{
    color : black;
    background-color: transparent;
    border: 0;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: calc(16px + 1vw);
}

* li
{
    padding: 0 30px;
    list-style-position: inside;
}

.comments li
{
    padding: 0;
}

.comments p::after li
{
    padding: 0 30px;
    list-style-position: inside;
}

body
{
    left: 0;
    top: 0;
    margin-left: 1%;
    margin-right: 1%;
    background: #fcefd1;
}

.content
{
    float: none;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 1%;
    display: inline;
    word-wrap: break-word;
    overflow: auto;
}

button
{
    font-weight: normal;
    padding: 0.3em;
    background: #fcefd1;
}

button:hover
{
    background-color: #424949;
    color : white;
}

nav, footer
{
    padding: 0;
    border: none;
    margin-bottom: 1em;
}

nav *, footer *, .content form, .inline
{
    display: inline;
    text-decoration : none;
}

nav a, footer a, input[type='image']
{
    border: none;
}

nav button, footer button
{
    cursor: pointer;
}

.right
{
    float: right;
}

.left
{
    float: left;
}

input, textarea
{
    border: 1px solid grey;
    padding: 0.5%
}

.warn:hover
{
    color: white;
    background: #f4511e;
}

a
{
    text-decoration: none;
    border-bottom: 1px solid grey;
}

.post
{
    margin-bottom: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.meta_info, .meta_info *, label
{
    font-weight: normal;
    font-size: inherit;
    color: #5D6D7E;
    font-style: italic;
}

textarea
{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: calc(2rem + 25vw);
}

textarea[name="comment_w"]
{
    height: calc(1rem + 7vw);
}

footer
{
    margin-top: 2%;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main_form
{
    margin-top: 2%;
    margin-bottom: 2%;
    display: table;
    margin: 0 auto;
    max-width: 30%;
}

.main_form button, .submit
{
    border: 1px solid  #979A9A;
}

@media only screen and (max-width: 768px)
{
    nav img
    {
        width: 20%;
    }
}

.comment
{
    border: 1px solid #979A9A;
    padding: 1%;
    margin: 1%;
    word-wrap: break-word;
    overflow: auto;
}
.comment li, .li_style_none
{
    list-style : none;
}

.comment_action
{
    margin-left: 1%;
}

.count
{
    font-weight: bold;
    padding-right: 1%;
}

.count sub
{
    font-weight: normal;
    font-size: 0.5em;
}

.post p a
{
    text-decoration: none;
    border: none;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.2em; }

.profile h1, .content h1,
.profile h2, .content h2,
.profile h3, .content h3,
.profile h4, .content h4,
.profile h5, .content h5,
.profile h6, .content h6,
.profile form
{
    text-align: center;
}

.profile table, .profile form
{
    margin: 0 auto;
}

.read h1,
.read h2,
.read h3,
.read h4,
.read h5,
.read h6
{
    text-align: left !important;
}