form
{
    margin: 1%;
    padding: 1%;
    line-height: 1em;
}

body *
{
    color : black;
    background-color: transparent;
    border: 0;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: calc(12px + 1.5vw)
}

body
{
    left: 0;
    top: 0;
    margin-left: 1%;
    margin-right: 1%;
    background: #fcefd1;
}

input[type='image']
{
    border: none;
}

.content
{
    float: none;
    max-width: 100%;
    display: table;
    margin: 0 auto;
    margin-bottom: 1%;
}

button
{
    font-weight: normal;
    padding: 0.3em;
    background: #fcefd1;
}

button:hover
{
    background-color: #424949;
    color : white;
}

nav, footer
{
    padding: 0;
    border: 0;
    margin-bottom: 1em;
}

nav *, footer *, .content form, .inline
{
    display: inline;
    text-decoration : none;
}

nav button, footer button
{
    cursor: pointer;
}

.right
{
    float: right;
}

.left
{
    float: left;
}

input, textarea
{
    border: 1px solid grey;
    padding: 0.5%
}

.warn:hover
{
    color: white;
    background: #f4511e;
}

a
{
    text-decoration: none;
    border-bottom: 1px solid grey;
}

.post
{
    margin-bottom: 1em;
}

.meta_info, .meta_info *, label
{
    color: #5D6D7E;
    font-style: italic;
}

textarea
{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer
{
    margin-top: 2%;
}

.main_form
{
    margin-top: 2%;
    padding-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 2%;
    width: 50%;
    margin: 0 auto;
}

.main_form *
{
    display: block;
    margin: 1%;
}

.main_form button, .submit
{
    border: 1px solid  #979A9A;
}

@media only screen and (max-width: 768px)
{
    nav img
    {
        width: 20%;
    }
}

.comment
{
    border: 1px solid #979A9A;
    padding: 1%;
    margin: 1%;
}
.comment li, .li_style_none
{
    list-style-type : none;
}

.comment_action
{
    margin-left: 1%;
}

.count
{
    font-weight: bold;
    padding-right: 1%;
}

.count sub
{
    font-weight: normal;
    font-size: 0.5em;
}