<html>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Home</title>
</head>
<body>

<? if(typeof(locals.list) !== 'object') { ?>
    <i style='color: red'>Error, rendering list of posts, contact admin.</i>
<? } else if(locals.list.length === 0) { ?>
    <p>There seems to be no posts to show</p>
<? } else { ?>
    <ul>
    <? list.forEach((post) => { ?>
        <li>
            <a href='/post/<?= post.id ?>'><?= post.title ?></a>
            <i>posted by <a href='/user/<?=post.u_name?>'><?=post.u_name?></a></i>
            <i><?= post.published ?></i>
        </li>
    <? }); ?>
    </ul>
<? } ?>


<? if(locals.is_logged_in === true) { ?>
    <p>Logged in<p>
<? } else { ?>
    <p>Not Logged in</p>
<? } ?>

<?- include('./partials/nav.ejs') ?>
</body>
</html>