<? if(locals.info) { ?>
    <h1 class='info'><?= info ?></h1>
<? } else if(locals.is_logged_in === true) { ?>
    <form method='post'>
        <button type='submit'>Confirm you want to log out</button>
    </form>
<? } else { ?>
    <h1>You don't seem to be logged in right now ¯\_(ツ)_/¯</h1>
<? } ?>

<?- include('partials/nav.ejs') ?>