<html>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title><?= typeof(locals.title) === 'string' ? title : 'Post' ?></title>
</head>
<body>
<? if(typeof(locals.error) === 'string') { ?>
    <p style='font-style: italic; color: red;'><?= error ?></p>
<? } ?>

<article>
    <h1><?= typeof(locals.title) === 'string' ? title : '' ?></h1>
    <i>
        <?= typeof(locals.by) === 'string' ? 'By' : '' ?>
        <a href='/user/<?= typeof(locals.by) === 'string' ? by : '' ?>'>
            <?= typeof(locals.by) === 'string' ? by : '' ?></a>
    </i>
    <i>
        <?= typeof(locals.published) === 'string' ? published : '' ?>
    </i>
    <p><?= typeof(locals.description) === 'string' ? description : '' ?></p>
    <footer>
        <? if(locals.is_logged_in === true) { ?>
        <a href='/delete-post/<?=
            typeof(locals.post_id) === 'string' ? post_id : '' ?>'>
            delete</a>
        <? } ?>
        <a href='/report-post/<?=
            typeof(locals.post_id) === 'string' ? post_id : '' ?>'>
            report
        </a>
    </footer>
</article>

<?- include('./partials/nav.ejs') ?>

</body>
</html>