<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title><?= locals.title ? locals.title : 'Post Page' ?></title>
    <style>
        input, svg, button
        {
            display: block;
        }
    </style>
</head>
<body>
    <h1 class='error'>
        <?= locals.error && error.message ? error.message : '' ?>
        <?= locals.info ? info : '' ?>
    </h1>

    <? if(locals.post) { ?>
        <h1><?= post.title ?></h1>
        <div>
            Posted by
            <i><a href='/user/<?= post.posted_by ?>'><?= post.posted_by ?></a></i>
            <?= post.published ?>
            <? if(locals.self_id === post.posted_by_id) { ?>
                [ <a href='/post/edit/<?= post.id ?>'>EDIT</a> ]
            <? } ?>
        </div>
        <?- post.content ?>
    <? } ?>

    <?- include('partials/nav') ?>

</body>
</html>