<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Submit</title>
    <style>
        input, texarea, svg, button
        {
            display: block;
        }
    </style>
</head>
<body>
    <h1 class='error'>
        <?= locals.error && error.message ? error.message : '' ?>
        <?= locals.info ? info : '' ?>
    </h1>

    <? if(locals.post_id) { ?>
    <h2><a href='/post/<?= post_id ?>'>Link to your post</a></h2>
    <? } ?>

    <? if(typeof(locals.captcha) === 'string') { ?>
    <form method='post' action='/submit'>
        <input
            type='text'
            name='title'
            placeholder='Title'
            value='<?= locals.recieved_title ? recieved_title : '' ?>'
            required>
        <textarea
            name='body'
            placeholder='Body of the post'
            required><?= locals.recieved_body ? recieved_body : '' ?></textarea>
        <?- captcha ?>
        <input
            type='text'
            name='captcha_solved'
            placeholder='Captcha code'
            min='2'
            required>
        <button
            type='submit'>Enter</button>
    </form>
    <? } ?>
    <?- include('partials/nav') ?>
</body>
</html>