<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Update Post</title>
    <style>
        input, texarea, svg, button
        {
            display: block;
        }
    </style>
</head>
<body>
    <h1 class='error'>
        <?= locals.error && error.message ? error.message : '' ?>
        <?= locals.info ? info : '' ?>
    </h1>

    <? if(locals.post_id) { ?>
    <h2><a href='/post/<?= post_id ?>'>Link to your post</a></h2>
    <? } ?>

    <? if
    (
        locals.self_id && locals.post && locals.post.posted_by_id &&
        locals.self_id === locals.post.posted_by_id &&
        typeof(locals.captcha) === 'string' &&
        typeof(locals.post) === 'object' &&
        typeof(locals.post.id) === 'string' &&
        typeof(locals.post.title) === 'string' &&
        typeof(locals.post.content) === 'string'
    ) { ?>
    <form method='post' action='/post/edit/<?= post.id ?>'>
        <input
            type='text'
            name='title'
            placeholder='Title'
            value='<?= post.title ?>'
            required>
        <textarea
            name='body'
            placeholder='Body of the post'
            required><?= post.content ?></textarea>
        <?- captcha ?>
        <input
            type='text'
            name='captcha_solved'
            placeholder='Captcha code'
            min='2'
            required>
        <button
            type='submit'>Enter</button>
    </form>
    <? } ?>
    <?- include('partials/nav') ?>
</body>
</html>