<html>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title><?= typeof(locals.username) === 'string' ? `User : ${username}` : 'User Info' ?></title>
</head>
<body>
<? if(typeof(locals.error) === 'string') { ?>
    <p style='font-style: italic; color: red;'><?= error ?></p>
<? } ?>

<? if(typeof(locals.username) === 'string') { ?>
    <h1>👤 <?= username ?></h1>
<? } ?>

<? if(typeof(locals.joined) === 'string') { ?>
    Joined <?= joined ?>
<? } ?>

<?- include('./partials/nav.ejs') ?>
</body>
</html>