<?- include('./common/layout_pre.ejs', { title : `Can't Find`, name : locals.name }) ?>
<h1>404, Nothings Here</h1>

If somethign was here at some point in time, it is no longer here, sorry about that.
You can click the fish on the top left to back to the homepage.

<?- include('./common/layout_post.ejs') ?>