<?- include('./common/layout_pre.ejs', { title : `About`, name : locals.name }) ?>
<span class='content'>
    <h1>About</h1>
    This is a frontend JavaScript free content sharing website.
</span>
<?- include('./common/layout_post.ejs') ?>