<?- include('./common/layout_pre.ejs', { title : `About`, name : locals.name }) ?>
<span class='content'>
    <h1>About</h1>
    <h6>This is a frontend JavaScript free content sharing site demo</h6>
</span>
<?- include('./common/layout_post.ejs') ?>