<?- include('./common/layout_pre.ejs', { title : 'Confirm', name : locals.name }) ?>
<span class='content'>
Your contact / report has been saved. Website administrator will take a look.
Thank you.
</span>
<?- include('./common/layout_post.ejs') ?>