<?- include('./common/layout_pre.ejs', { title : 'Contact', name : locals.name }) ?>
<? if(locals.name === false) { ?>
<span class='content'>
    You must be signed in to contact or make a report here.
    Alternatively you can email administrator at todo@example.com
</span>
<? } else { ?>
<form method='POST' action='/contact'>
    <div>
        <label for='content'>Write your concern here:</label>
    </div>
    <div>
        <textarea
            style='height: 30vw'
            name='content'
            type='text'
            placeholder='Enter your content here'
            minlength='1'
            autocomplete='off'
            required><?= locals.content ? content : '' ?></textarea>
    </div>
    <? if(locals.info) { ?>
    <div>
        <?= info ?>
    </div>
    <? } ?>
    <div>
        <button class='submit' type='submit'>Send</button>
    </div>
</form>

<span class='meta_info' style='margin-top: 20px'>
    If your contact requires a response, use email: todo@example.com
</span>
<? } ?>
<?- include('./common/layout_post.ejs') ?>