<?- include('./common/layout_pre.ejs', { title : 'Post', name : locals.name }) ?>

<? if(locals.name !== false) { ?>
<form method='POST' action='/post/'>
    <div>
        <label for='content'>Write your content here:</label>
    </div>
    <div>
        <textarea
            style='height: 30vw'
            name='content'
            type='text'
            placeholder='Enter your content here'
            minlength='1'
            autocomplete='off'
            required><? if(locals.content){ ?><?= content ?><? } ?></textarea>
    </div>
    <? if(locals.info) { ?>
    <div>
        <?= info ?>
    </div>
    <? } ?>
    <div>
        <button class='submit' type='submit'>Publish</button>
        <span
            title='**bold** &#013;&#010; *italic* &#013;&#010; # Header 1 &#013;&#010; ## Header 2 &#013;&#010; ### Header 3'
            style='font-weight: normal; float: right'>?</span>
    </div>
</form>
<? } else { ?>
    You must be signed in to post
<? } ?>

<?- include('./common/layout_post.ejs') ?>