<?- include('./common/layout_pre.ejs', { title : 'Home', name : locals.name }) ?>
<span class='content'>
    <h6>Your <a href='/post/<?= id ?>'>post</a> was permanently deleted.</h6>
</span>
<?- include('./common/layout_post.ejs') ?>