<?- include('./common/layout_pre.ejs', { title : 'Delete', name : locals.name }) ?>
<span class='content'>
<? if
(
    locals.name !== false &&
    locals.id &&
    locals.content &&
    locals.by &&
    locals.createdAt &&
    locals.updatedAt
) { ?>
<form method='POST' action='/post/<?= id ?>/delete'>
    <? if(locals.info) { ?>
    <div><?= info ?></div>
    <? } ?>
    <div>
        <button
            class='warn'
            type='submit'>Confirm you want to delete below post</button>
    </div>
</form>
<p><?- content ?></p>
<div class='meta_info'>
    <p>Posted by <a href='/user/<?= by ?>'><?= by ?></a></p>
    <p>Published <?= createdAt ?></p>
    <p>Updated <?= updatedAt ?></p>
</div>
<form method='GET' action='/post/<?= id ?>/update'>
    <input type='hidden' name='username' value='<?= by ?>'>
    <button type='submit'>Edit</button>
</form>
<? } else { ?>
    You must be signed in and author of the post to delete it
<? } ?>
</span>

<?- include('./common/layout_post.ejs') ?>