<?- include('./common/layout_pre.ejs', { title : 'Home', name : locals.name }) ?>
<span class='content'>
Your <a href='/post/<?= id ?>'>post</a> was permanently deleted.
</span>
<?- include('./common/layout_post.ejs') ?>