<?- include('./common/layout_pre.ejs', { title : 'Delete', name : locals.name }) ?>
<span class='content'>
<? info ?>
<form method='POST' action='/confirm_delete/<?= id ?>'>
    <input name='post_id' type='hidden' value='<?= post_id ?>'>
    <button type='submit' class='submit warn'>Confirm and delete comment</button>
</form>
<p class='meta_info'>The comment :</p>
<p><?- content ?></p>
<a href='/post/<?= post_id ?>#<?= id ?>'>Link</a>
</span>
<?- include('./common/layout_post.ejs') ?>