<?- include('./common/layout_pre.ejs', { title : 'Home', name : locals.name }) ?>
<? if(locals.posts && posts.constructor === Array && posts.length) { ?>
<? posts.forEach((p) => { ?>
<div class='post'>
    <p><?- p.content ?></p>
    <span class='meta_info'>
        posted by <a href='/user/<?= p.by ?>'><?= p.by ?></a>
        <?= p.createdAt ?>
    </span>
    <a class='readmore' href='/post/<?= p.id ?>'>read »</a>
</div>

<? }); ?>
<? } ?>
<?- include('./common/layout_post.ejs') ?>