<?- include('./common/layout_pre.ejs', { title : 'Home', name : locals.name }) ?>
<span class='content'>
<? if(locals.posts && posts.constructor === Array && posts.length) { ?>
<? if(locals.page && typeof(page) === 'number') { ?>
    <h3>Newer posts are on top</h3>
<? } ?>
<? posts.forEach((p) => { ?>
<div class='post'>
    <p>
        <span class='count'>
            <a href='/post/<?= p.id ?>'>
            <?= p.replies ?><sub>comments</sub>
            </a>
        </span>
        <a href='/post/<?= p.id ?>'>
            <?- p.content ?>
        </a>
    </p>
    <span class='meta_info'>
        posted by <a href='/user/<?= p.by ?>'><?= p.by ?></a>
        <?= p.createdAt ?>
    </span>
    <a class='readmore' href='/post/<?= p.id ?>'>read »</a>
</div>

<? }); ?>
<? } else { ?>
<h6>No more posts to show</h6>
<? } ?>

<? if(locals.page && typeof(page) === 'number') { ?>
    <span class='meta_info'>
        <? if(page > 1) { ?>
            <a href='/?new=true&page=<?= page - 1 ?>'>« previous</a>
        <? } ?>
        page <?= locals.page ?>
        <? if(locals.posts && locals.posts.length) { ?>
            <a href='/?new=true&page=<?= page + 1 ?>'>next »</a>
        <? } ?>
    </span>
<? } ?>
</span>
<?- include('./common/layout_post.ejs') ?>