<?- include('./common/layout_pre.ejs', { title : 'Home', name : locals.name }) ?>
<span class='content'>
<? if(locals.posts && posts.constructor === Array && posts.length) { ?>
<? posts.forEach((p) => { ?>
<div class='post'>
    <p>
        <span class='count'>
            <a href='/post/<?= p.id ?>'>
            <?= p.replies ?><sub>comments</sub>
            </a>
        </span>
        <?- p.content ?>
    </p>
    <span class='meta_info'>
        posted by <a href='/user/<?= p.by ?>'><?= p.by ?></a>
        <?= p.createdAt ?>
    </span>
    <a class='readmore' href='/post/<?= p.id ?>'>read »</a>
</div>

<? }); ?>
<? } ?>
</span>
<?- include('./common/layout_post.ejs') ?>