<?- include('./common/layout_pre.ejs', { title : `Privacy Policy`, name : locals.name }) ?>
<span class='content'>
    <h1>Privacy Policy</h1>
    <ul>
        <li>
            You should not expect any information posted here to be private
        </li>
        <li>
            There is no gathering or reslling of connection informaiton
            such as IP, user agent etc other than it's immediate use to
            respond to request sent or redirecting to previous location
        </li>
        <li>
            Session cookie is used for authentication and redirecting purposes
        </li>
    </ul>
</span>
<?- include('./common/layout_post.ejs') ?>