<?- include('./common/layout_pre.ejs', { title : 'Post', name : locals.name }) ?>

<? if
(
    locals.id &&
    locals.content &&
    locals.by &&
    locals.createdAt &&
    locals.updatedAt
) { ?>
<p><?- content ?></p>
<? if
(
    locals.name !== false &&
    locals.by === locals.name
) { ?>
<form method='GET' action='/post/<?= id ?>/update'>
    <input type='hidden' name='username' value='<?= by ?>'>
    <button type='submit'>Edit</button>
</form>
<form method='GET' action='/post/<?= id ?>/delete'>
    <input type='hidden' name='username' value='<?= by ?>'>
    <button type='submit'>Delete</button>
</form>
<form method='GET' action='/contact/<?= locals.self_link ? self_link : "" ?>'>
    <button type='submit'>Report</button>
</form>
<? } ?>
<div>
    Posted by <?= by ?>
</div>
<div>
    <p>Posted at <?= createdAt ?></p>
    <p>Updated at <?= updatedAt ?></p>
</div>
<? } else { ?>
    Could not find any such post
<? } ?>

<?- include('./common/layout_post.ejs') ?>