<?- include('./common/layout_pre.ejs', { title : 'Post', name : locals.name }) ?>

<? if
(
    locals.post &&
    locals.post.id &&
    locals.post.content &&
    locals.post.by &&
    locals.post.createdAt &&
    locals.post.updatedAt
) { ?>
<span class='content'>
<p><?- post.content ?></p>
<div class='meta_info'>
    Posted by <a href='/user/<?= post.by ?>'><?= post.by ?></a>
    <span title='Updated <?= post.updatedAt ?>'><?= post.createdAt ?></span>
</div>
<? if
(
    locals.name !== false &&
    locals.post.by === locals.name
) { ?>
<form method='GET' action='/post/<?= post.id ?>/update'>
    <input type='hidden' name='username' value='<?= post.by ?>'>
    <button type='submit'>Edit</button>
</form>
<form method='GET' action='/post/<?= post.id ?>/delete'>
    <input type='hidden' name='username' value='<?= post.by ?>'>
    <button type='submit'>Delete</button>
</form>
<? } ?>
<? if(locals.name !== false) { ?>
<form
    method='GET'
    action='/contact/<?= locals.post.self_link ? post.self_link : "" ?>'>
    <button type='submit'>Report</button>
</form>
<? } ?>
</span>
<? if(locals.name !== false) { ?>
<form method='POST' action='/comment'>
    <input name='post_id' type='hidden' value='<?= post.id ?>'>
    <input name='post_content' type='hidden' value='<?= post.content ?>'>
    <div>
        <label for='comment_w'>Write your comment here:</label>
    </div>
    <div>
        <textarea
            name='comment_w'
            type='text'
            placeholder='Enter your comment here'
            minlength='1'
            autocomplete='off'
            required><? if(locals.comment_w){ ?><?= comment_w ?><? } ?></textarea>
    </div>
    <? if(locals.info) { ?>
        <div>
            <?= info ?>
        </div>
    <? } ?>
    <button class='submit' type='submit'>Submit</button>
</form>
<? } else { ?>
    <span class='meta_info'>
        You must have an account and be signed in to write comment
    </span>
<? } ?>

<? if(locals.comments) { ?>
    <style>

    </style>
    <?- comments ?>
<? } ?>
<? } else { ?>
<span class='content'>
    Could not find any such post
</span>
<? } ?>

<?- include('./common/layout_post.ejs') ?>