<?- include('./common/layout_pre.ejs', { title : 'Post', name : locals.name }) ?>

<? if
(
    locals.post &&
    locals.post.id &&
    locals.post.content &&
    locals.post.by &&
    locals.post.createdAt &&
    locals.post.updatedAt
) { ?>
<span class='content read'>
<p><?- post.content ?></p>
</span>
<span class='meta_info'>
    Posted by <a href='/user/<?= post.by ?>'><?= post.by ?></a>
    <span title='Updated <?= post.updatedAt ?>'><?= post.createdAt ?></span>
</span>
<? if
(
    locals.name !== false &&
    locals.post.by === locals.name
) { ?>
<form class='inline' method='GET' action='/post/<?= post.id ?>/update'>
    <input type='hidden' name='username' value='<?= post.by ?>'>
    <button class='post_button' type='submit'>edit</button>
</form>
<form class='inline' method='GET' action='/post/<?= post.id ?>/delete'>
    <input type='hidden' name='username' value='<?= post.by ?>'>
    <button class='post_button' type='submit'>delete</button>
</form>
<? } ?>
<? if(locals.name !== false) { ?>
<form
    class='inline'
    method='GET'
    action='/contact/<?= locals.post.self_link ? post.self_link : "" ?>'>
    <button class='post_button' type='submit'>report</button>
</form>
<? } ?>
<? if(locals.name !== false) { ?>
<br>
<br>
<form style='margin: 1%;' method='POST' action='/comment'>
    <input name='post_id' type='hidden' value='<?= post.id ?>'>
    <input name='post_content' type='hidden' value='<?= post.content ?>'>
    <div>
        <label for='comment_w'>Write your comment here:</label>
    </div>
    <div>
        <textarea
            name='comment_w'
            type='text'
            placeholder='Enter your comment here'
            minlength='1'
            autocomplete='off'
            required><? if(locals.comment_w){ ?><?= comment_w ?><? } ?></textarea>
    </div>
    <? if(locals.info) { ?>
        <div>
            <?= info ?>
        </div>
    <? } ?>
    <button class='submit' type='submit'>Submit</button>
</form>
<? } else { ?>
    <span class='meta_info'>
        [ You must be signed up and be signed in to write comment ]
    </span>
<? } ?>

<? if(locals.comments) { ?>
    <?- comments ?>
<? } ?>
<? } else { ?>
<span class='content'>
    <h6>Could not find any such post</h6>
</span>
<? } ?>

<?- include('./common/layout_post.ejs') ?>