<?- include('./common/layout_pre.ejs', { title : 'Sign Up', name : locals.name }) ?>
<? if(locals.name === false) { ?>
<form class='main_form' method='POST' action='/sign_up'>
    <div>
        <label for='user_name'>Choose a user name:</label>
        <input
            name='user_name'
            type='text'
            placeholder='user name'
            minlength='1'
            maxlength='30'
            autocomplete='off'
            <? if(locals.user_name){ ?>
            value='<?= user_name ?>'
            <? } ?>
            required>
    </div>
    <div>
        <label for='password'>Choose a password:</label>
        <input
            name='password'
            type='password'
            placeholder='password'
            minlength='1'
            autocomplete='off'
            <? if(locals.password) { ?>
            value='<?= password ?>'
            <? } ?>
            required>
    </div>
    <div>
        <label for='captcha'>Solve captcha</label>
        <?- svg ?>
        <input
            name='captcha'
            type='text'
            placeholder='captcha'
            minlength='4'
            maxlength='4'
            autocomplete='off'
            required>
    </div>
    <? if(locals.info) { ?>
    <div class='meta_info warn_text'>
        <?= info ?>
    </div>
    <? } ?>
    <div>
        <button
            type='submit'>Submit »</button>
    </div>
</form>
<? } else { ?>
    You are already signed up. No need to do it again.
<? } ?>
<?- include('./common/layout_post.ejs') ?>