<?- include('./common/layout_pre.ejs', { title : `Terms and Condition`, name : locals.name }) ?>
<span class='content'>
    <h1>Terms and Condition</h1>
    Understand that:
    <ul>
        <li>
            This site can not gurantee complete moderation of content posted here
        </li>
        <li>
            Session cookie is used on this website to keep you logged in
        </li>
        <li>
            If your connection location or citizenship is in EU or any country
            with GDRP like laws, do not sign up or otherwise use this site
        </li>
        <li>
            You own every content you post on this website but you
            give this site a royalty free use access
        </li>
        <li>
            All the content your post must abide by United State law and
            the country of your citizenship or current residency
        </li>
        <li>
            This site is not be held responsible for any damages or liability
            as a result of the use of this site
        </li>
    </ul>
</span>
<?- include('./common/layout_post.ejs') ?>