<?- include('./common/layout_pre.ejs', { title : 'User', name : locals.name }) ?>
<span class='content' style='text-align: center'>
<? if(locals.user_name) { ?>
<h1><?= locals.user_name ?></h1>
<? if(locals.name && locals.user_name && locals.name !== locals.user_name) { ?>
<br>
<form style='display: block;' method='POST' action='/follow/<?= user_name ?>'>
    <button class='submit' type='submit'>Follow</button>
</form>
<br>
<? } ?>
<? if(locals.following && following.constructor === Array && following.length) { ?>
<br>
<span style='display : block'>
    <b>You are following these users </b><br>
    <i class='meta_info'>(only visible to you)</i> :
</span>
<br>
<ul>
    <? following.forEach((user) => { ?>
    <li><a href='/user/<?= user.name ?>'><?= user.name ?></a>
        <form
            class='unfollow'
            method='POST'
            action='/unfollow_confirm/<?= user.name ?>'>
            <button class='submit warn'>Unfollow</button>
        </form>
    </li>
    <? }) ?>
</ul>
<? } ?>
<? if(locals.posts && posts.constructor === Array && posts.length) { ?>
<br>
<h3>Posts: </h3>
<br>
<ul>
    <? posts.forEach((post) => { ?>
        <li><a href='/post/<?= post.id ?>'><?= post.createdAt ?></a></li>
    <? }); ?>
</ul>
<? } ?>
<? if(locals.comments && comments.constructor === Array && comments.length) { ?>
    <br>
    <h3>Comments: </h3>
    <br>
    <ul>
        <? comments.forEach((c) => { ?>
            <li><a href='/post/<?= c.post_id ?>#<?= c.id ?>'><?= c.createdAt ?></a></li>
        <? }); ?>
    </ul>
<? } ?>
<? } else { ?>
<span class='content'>
    No such user found. If you think this is an error, please retry or contact admin.
</span>
<? } ?>
</span>
<?- include('./common/layout_post.ejs') ?>