<?- include('./common/layout_pre.ejs', { title : 'User', name : locals.name }) ?>
<span class='content'>
<? if(locals.user_name) { ?>
<h2>User: <?= locals.user_name ?></h2>
<br>
<? if(locals.name && locals.user_name && locals.name !== locals.user_name) { ?>
<form method='POST' action='/follow/<?= user_name ?>'>
    <button type='submit'>Follow</button>
</form>
<br>
<? } ?>
<? if(locals.following && following.constructor === Array && following.length) { ?>
<b>You are following these users </b><br>
<i class='meta_info'>(only visible to you)</i> :
<ul>
    <? following.forEach((user) => { ?>
    <li><a href='/user/<?= user.name ?>'><?= user.name ?></a>
        <form
            class='unfollow'
            method='POST'
            action='/unfollow_confirm/<?= user.name ?>'>
            <button class='warn'>Unfollow</button>
        </form>
    </li>
    <? }) ?>
</ul>
<? } ?>
<? if(locals.posts && posts.constructor === Array && posts.length) { ?>
<br>
<h3>Posts: </h3>
<br>
<ul>
    <? posts.forEach((post) => { ?>
        <li><a href='/post/<?= post.id ?>'><?= post.createdAt ?></a></li>
    <? }); ?>
</ul>
<? } ?>
<? } else { ?>
<span class='content'>
    No such user found. If you think this is an error, please retry or contact admin.
</span>
<? } ?>
</span>
<?- include('./common/layout_post.ejs') ?>